.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

.idea/*
.settings/*
.svn/*
user_guide/*
.project
ci.clpprj
license.txt
/download/com.anda.driver.location*.apk
